@font-face {
    font-family: 'JetBrains Mono';
    src: url('assets/fonts/JetBrains/JetBrainsMono-Regular.woff2') format('woff2'),
        url('assets/fonts/JetBrains/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}